*{
    margin: 0;
    padding: 0;
}

.food{
    background-color: purple;
    border-radius: 3px;
}

.container{
    height: 100vh;
    width: 100vw;
    
  /* Created with https://www.css-gradient.com */
background: rgba(1, 255, 138, 1.0);
background: -webkit-radial-gradient(center, rgba(1, 255, 138, 1.0), rgba(37, 140, 67, 1.0));
background: -moz-radial-gradient(center, rgba(1, 255, 138, 1.0), rgba(37, 140, 67, 1.0));
background: radial-gradient(ellipse at center, rgba(1, 255, 138, 1.0), rgba(37, 140, 67, 1.0));
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
}
.gamebox{
    height: 80vh;
    width: 80vh;
   display: grid;
   grid-template-rows:repeat(18,1fr) ;
   grid-template-columns: repeat(18,1fr) ;
    background-color: black;
    box-shadow: -2px 1px 12px 3px rgba(0,0,0,0.68);
}
.head{
    background-color: green;
    border-radius: 3px;
}
.snake{
    background-color: green;
}
.title{
    width: 100vw;
    height: 7vh;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    /* color:#50ED0F ; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: cursive;
    
}
#start{
    height: 30px;
    border-radius: 10px;
    width: 100px;
    background-color: #21df9f;
    font-size: 1.5rem;
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;

}
